* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #1F2430;
    font-variant: small-caps;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #fcde67;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #1F2430;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #1F2430;
    transition-duration: 0.5s;
}

.nav-link:hover{
    background-color:#1F2430; 
    color: #fcde67;
    border-radius: 20px;
    padding:5px 10px;
    transition-duration: 0.5s;
}

.active{
    color:#1F2430;
    text-decoration: underline;
}

.nav-logo{
    font-size: 2.1rem;
    font-weight: 500;
    color: #1F2430;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    z-index: -1;
}
  
  /* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
  
  /* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
  
  /* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideShow{
    width: 100%;
    filter: blur(2px)
}
  
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
  
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
  
.text_center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1cm;
  font-variant: small-caps;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  padding: 2cm;
  background-color: #fcde67;
  font-variant: small-caps;
}
  
.flex-item-1, .flex-item-2, .flex-item-3 {
  padding: 20px;
  flex: 30%;
  font-size: 15px;
  text-align: left;
  line-height: 0.8cm;
  box-shadow: 0px 0px 10px #475569;
  background-color: #1F2430;
  color: #f2f2f2;
}

.flex-container > div{
  margin: 10px;
  transition-duration: 0.8s;
}

.flex-container > div:hover{
  transition-duration: 0.8s;
  color: #5bccf6;
  box-shadow: 0px 0px 50px #475569;
}

.footer{
    width: 100%;
    height: 30vh
}

.f-container {
  color: #fcde67;
  background-color: #1F2430;
  text-align: center;
  padding: 1cm;
  font-size: 15px;
  font-variant: small-caps;
}

.copyright_footer{
  text-align: center;
  font-size: 15px;
  padding: 15px;
  background-color: #fcde67;
  font-variant: small-caps;
}

.f-container > span{
  color: #5bccf6;
}

.f-container > p{
  color: white;
}


.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1cm;
  background-color: #1F2430;
  font-variant: small-caps;
}
  
.row::after {
  display: table;
  clear: both;
  content: "";
}
  
.col-6 { width: 50%; }
.col-5 { width: 50%; }
 

.row > .col-5{
  padding: 20px;
}
  
.col-5 p{
  font-size: 13px;
  color: white;
  width: 75%;
}

@media(max-width: 800px){
  .col-6 img{
    width: 100%;
  }
  .col-6, .col-5{
    width: 100%;
  }
}
@media (max-width: 550px) {
  .text {font-size: 11px}

  .flex-item-1, .flex-item-2, .flex-item-3 {
    flex: 100%;
  }
  
  .flex-container > div{
    margin: 10px;
  }

  .nav-link{
    color: #fcde67;
  }
  
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #1F2430;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 1px 0 5px 0 grey;
    text-decoration: none;
  }
  
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
    
  .slideShow{
    width: 100%;
    height: 50%;
  }
}